<h1>Stupid Coaching</h1>
<div class="form">
<form class= "form-enlarge" action="/answer">
  <input class="textbox" type="text" name="question">
  <input class="submit" type="submit" value="Ask!">
</form>
</div>

